# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
logs/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment files
.env

# Large dataset
data/*.gz
data/NASA_access_log_*

# Java
*.class

# Hive / Derby
.metastore_db/
derby.log
hive_server.log

# Generated outputs
output/
results/

# Reports
reports/*.pdf

# Hadoop temp
tmp/

metastore_db/
hive_scripts/temp/